$darkest-color: #0d0f36;
$dark-color: #425685;
$primary-color: #69d2cd;
$light-color: #b9f1d6;
$lightest-color: #f1f6ce;
$difficulty-easy-color: #46c6c2;
$difficulty-medium-color: #fac31d;
$difficulty-hard-color: #f8615c;
$leetcode-color: #aa8a53;
$hackerrank-color: #66997C;
$status-todo-color: #b3b3b3;
$status-inprogress-color: #ffdb20;
$status-done-color: #4bf17b;

$min-width-pc: 1024px;
$max-width-phone: 768px;
$min-width-phone: 640px;

$palette-colors: (
  darkestColor: $darkest-color,
  darkColor: $dark-color,
  primaryColor: $primary-color,
  lightColor: $light-color,
  lightestColor: $lightest-color,
  difficultyEasyColor: $difficulty-easy-color,
  difficultyMediumColor: $difficulty-medium-color,
  difficultyHardColor: $difficulty-hard-color,
  leetcodeColor: $leetcode-color,
  hackerrankColor: $hackerrank-color,
  statusToDoColor: $status-todo-color,
  statusInProgressColor: $status-inprogress-color,
  statusDoneColor: $status-done-color,
);

$responsive-measures: (
  minWidthPc: $min-width-pc,
  maxWidthPhone: $max-width-phone,
  minWidthPhone: $min-width-phone,
);

:export {
  @each $key, $value in $palette-colors {
    #{$key}: $value;
  }

  @each $key, $value in $responsive-measures {
    #{$key}: $value;
  }
}

@keyframes rubberBand {
  0% {
    transform: scaleX(1);
  }
  40% {
    transform: scaleX(1.25) scaleY(0.86);
  }
  55% {
    transform: scaleX(0.7) scaleY(1);
  }
  65% {
    transform: scaleX(1.13) scaleY(0.95);
  }
  75% {
    transform: scaleX(0.9) scaleY(1);
  }
  90% {
    transform: scaleX(1.15) scaleY(1.15);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
