@use '../../../../../utils/styles/variables.module' as *;

#code-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  code {
    background-color: transparent;
  }
}

#code-container:hover {
  .code-button-copy {
    opacity: 1;
  }
}

.code-button-copy {
  opacity: 0;
  font-size: 1rem;
  background-color: $dark-color;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out 0.1s;

  svg {
    color: $lightest-color;
  }
}

.code-button-copy:hover {
  border: 0;
  background-color: rgba($dark-color, 0.9);

  svg {
    color: $primary-color;
  }
}

.code-button-copy:active {
  transform: translate(10%, -10%);
}

@media (max-width: $min-width-phone) {
  .code-button-copy {
    display: none;
  }
}
