@import '../../../utils/styles/variables.module';

.footer {
  padding-bottom: 4rem;
  max-width: 28rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.footer p {
  color: $light-color;
}

@media (min-width: $min-width-phone) {
  .footer {
    padding-bottom: 0;
  }
}
