.portfolio {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-right: 6rem;
  padding-left: 6rem;
  max-width: 1280px;
  gap: 1rem;
}

.main {
  display: block;
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 50%;
  box-sizing: border-box;
  line-height: 1.625;
}
