@use './utils/styles/variables.module' as *;

.app {
  position: relative;
}

a {
  text-decoration: none;
  color: $primary-color;
}

h1,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

table {
  text-indent: 0;
  border-collapse: collapse;
}
