@import '../../../../../utils/styles/variables.module';

.button {
  margin: 0;
  padding: 0;
  width: fit-content;
  height: fit-content;
  background: none;
  border: none;
  line-height: 1.25;
  font-weight: 600;
  color: $lightest-color;
  text-align: left;
  font-size: 1.25rem;
}

.button:hover {
  border-bottom: 2px solid $primary-color;
  cursor: pointer;
}
